<h2>QwkThx</h2>

<div id="content"></div>

@using (Html.BeginForm())
{
	 @Html.DropDownList("handler", "Who is deserving of commendation?")
	<textarea name="comment" rows="4" cols="50">
	</textarea>
	<button type="submit">Submit</button>
}